<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
th {
    text-align: left;
}
</style>
</head>
<body>

<!-- The item below is a link to return to the ticket index.-->
<a href="{% url "tickets:index" %}"> Return to Ticket Index </a>

<!-- The following will create a table with the closed tickets of the system
listed for use. -->

<h3> Closed Ticket List </h3>

{% if closed_ticket_list %}
  <ul> 
  <table style="width:30%">

      <tr>
          <th>Ticket Number</th>
          <th>Document Number</th>
      </tr>

  <ul>
  {% for ticket in closed_ticket_list %}

      <tr>
          <td> <a href="{% url "tickets:form" ticket.id %}">
                  {{ ticket.id }}</a></td>
          <td><a href="{% url "tickets:form" ticket.id %}">
                  {{ ticket.document_number }}</a></td>
      </tr>

  {% endfor %}
  </ul>

{% else %}
  <p>No tickets have been closed.</p>
{% endif %}
