<!DOCTYPE html>
<html>
<head>

<!-- Load the CSS files for stylizing the page. This does not seem to be working
right at this moment.-->
{% load staticfiles %}

<link rel="stylesheet" type="text/css" 
    href="{% static 'tickets/style.css' %}" />

</head>
<body>

<!-- Display the TnD logo. -->
<a href="{% url "tickets:index" %}">
  <img src="{% static "tickets/logo.png" %}" alt="Cannot load logo." 
      style="width:40px;height:60px;">
</a>

<!-- The item below is a link to return to the ticket index.-->
<p><a href="{% url "tickets:index" %}"> Return to Ticket Index </a></p>

<!-- The following will create a table with the closed tickets of the system
listed for use. -->

<h3> Closed Ticket List </h3>

{% if closed_ticket_list %}
  <ul> 
  <table class="center"

      <tr>
          <th>Ticket Number</th>
          <th>Document Number</th>
      </tr>

  <ul>
  {% for ticket in closed_ticket_list %}

      <tr>
          <td> <a href="{% url "tickets:form" ticket.id %}">
                  {{ ticket.id }}</a></td>
          <td><a href="{% url "tickets:form" ticket.id %}">
                  {{ ticket.document_number }}</a></td>
      </tr>

  {% endfor %}
  </table>
  </ul>

{% else %}
  <p>No tickets have been closed.</p>
{% endif %}
