<!DOCTYPE >
<html>
<head>

<!-- Load the CSS files for stylizing the page. This does not seem to be working
right at this moment.-->
{% load staticfiles %}

<link rel="stylesheet" type="text/css" 
    href="{% static 'tickets/style.css' %}" />

</head>
<body>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h3>Ticket # {{ ticket.id }}</h3>

<form action="{% url "tickets:update" ticket.id %}" method="post">
    {% csrf_token %}

    <!-- TODO: add error checking that will raise and issue if the correct
        input data is not provided in the form. -->
    Published date:<br>
    {{ form.pub_date }}<br>
    Document number:<br>
    {{ form.document_number }}<br>
    Comments for revision:<br>
    {{ form.comments_for_revision }}<br>
    Reported by:<br>
    {{ form.reported_by }}<br>
    Reported by email:<br>
    {{ form.reported_by_email }}<br>
    Editor:<br>
    {{ form.editor }}<br>
    Editor email:<br>
    {{ form.editor_email }}<br>
    Major revision:<br>
    {{ form.major_revision }}<br>
    Minor revision:<br>
    {{ form.minor_revision }}<br>
    Confirmed?<br>
    {{ form.confirmed }}<br>
    Closed date:<br>
    {{ form.close_date }}<br>
    
    <p>
    <input type="submit" value="Update Ticket"  /></p>

</form>

<!-- The item below is a link to return to the ticket index.-->
<a href="{% url "tickets:index" %}"> Return to Ticket Index </a>

</body>
</html>
