<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
th {
    text-align: left;
}
</style>
</head>
<body>

<p> Welcome to Tickets 'n Docs. </p>
<p> This application will allow you to create tickets to fix issues.
The system should be intuitive. </p>

<ul>
    <a href="{% url "tickets:newForm" %}"> Create new ticket.</a>
</ul>

<!-- The following will create a table with the open tickets of the system
listed for use. -->

{% if open_ticket_list %}
  <ul> 
  <table style="width:30%">

      <tr>
          <th>Ticket Number</th>
          <th>Document Number</th>
      </tr>

  <ul>
  {% for ticket in open_ticket_list %}

      <tr>
          <td> <a href="{% url "tickets:form" ticket.id %}">
                  {{ ticket.id }}</a></td>
          <td><a href="{% url "tickets:form" ticket.id %}">
                  {{ ticket.document_number }}</a></td>
      </tr>

  {% endfor %}
  </ul>

{% else %}
  <p>No tickets are available. Great work, team! Go home and give yourself a 
  reward.</p>
{% endif %}
