<!DOCTYPE html>
<html>
<body>
<h3>Ticket # {{ ticket.id }}</h3>



<! This initial.html file is used to build the 'create tickets' form. >
<! I do not want to give a ticket number to a ticket before it is created
   but I believe I am going to have to do so for breviety. >

<p> This is the form for submitting tickets into Tickets 'n Docs. </p>

<form action="{% url "tickets:create" %}" method="post">
{% csrf_token %}
<label for="ticket">ticket: </label>
<input id="ticket" type="text" name="ticket" value="{{document_number}}">
<input type="submit" value="Submit">
</form>

<form action="{% url "tickets:create" %}" method="post">

Publish Date:<br>
<input type="datetime-local" value="{{ ticket.pub_date }}" /><br>
Document Number:<br>
<input type="number" value="{{ ticket.document_number }}" /><br>
Comments for revision:<br>
<textarea name="message" rows=6 cols=70> {{ ticket.comments_for_revision }}
</textarea><br>
Writer:<br>
<input type="text" value="{{ ticket.writer }}" /><br>
Writer email:<br>
<input type="email" value="{{ ticket.writer_email }}" /><br>
Editor:<br>
<input type="text" value="{{ ticket.editor }}" /><br>
Editor email:<br>
<input type="email" value="{{ ticket.editor_email }}" /><br>
Close date:<br>
<input type="datetime-local" value="{{ ticket.close_date }}" /><br>
Major revision:<br>
<input type="text" value="{{ ticket.major_revision }}" /><br>
Minor revision:<br>
<input type="text" value="{{ ticket.minor_revision }}" /><br>

<input type="submit" value="Submit Ticket"  /><br>
</form>


<a href="{% url "tickets:index" %}"> Return to Ticket Index </a>

</body>
</html>
