<!DOCTYPE >
<html>
<head>

<!-- Load the CSS files for stylizing the page. This does not seem to be working
right at this moment.-->
{% load staticfiles %}

<link rel="stylesheet" type="text/css" 
    href="{% static 'tickets/style.css' %}" />

</head>
<body>

    {{ ticket.id }}

Thank you for subimitting this ticket. You will receive a response shortly.
<br>

<!-- The item below is a link to return to the ticket index.-->
<a href="{% url "tickets:index" %}"> Return to Ticket Index </a>

</body>
</html>
