<!doctype html >
<html>
<head>
<style>
table, th, td {
  width: 25%;
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #4c4c4c;
}
</style>
<!-- Load the CSS files for stylizing the page. -->
{% load staticfiles %}
<link rel="stylesheet" type="text/css" 
    href="{% static 'tickets/style.css' %}" />
</head>
<body>
<a href="{% url "tickets:index" %}">
  <img src="{% static "tickets/logo.png" %}" alt="Cannot load logo." 
      style="width:40px;height:60px;">
</a>
<h3> Create a New Ticket </h3>
<form action="{% url "tickets:create_ticket" %}" method="post">
  {% csrf_token %}
  <table>
    <tr>
      <td>Document number:</td>
      <td><input type="text" name="document_number"></td>
    </tr>
    <tr>
      <td>Revision:</td>
      <td><input type="text" name="revision"></td>
    </tr>
    <tr>
      <td>Comments for revision:</td>
      <td><input type="textarea" name="comments_for_revision"></td>
    </tr>
    <tr>
      <td>Issue URL:</td>
      <td><input type="text" name="url_of_issue"></td>
    </tr>
    <tr>
      <td>Picture of issue:</td>
      <td><input type="text" name="pic_of_issue"></td>
    </tr>
  </table>

  <p><input type="submit" value="Submit Ticket"  /></p>
</form>
</body>
</html>
