<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login and Registration</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'log_n_reg_app/css/main.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{% static 'log_n_reg_app/js/main.js' %}"></script>
  </head>
  <body>
    <div id="container">
      <div id="enabled_user">
        {% if request.session.id %}
        <h5>User number: {{ request.session.id }} </h5>
        <h5>User account: {{ request.session.email }}</h5>
        <a href={% url 'login:logout' %}>Logout</a>
        {% endif %}
      </div>
      <h4>Login and Registration for Tickets 'n Docs</h4>
      <div id="messages">
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          {% if message.tags %}
          <li class="{{ message.tags }}">{{ message }}</li>
          {% endif %}
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div id="registration">
        <form action="" method="POST">
          <h4>Please register below</h4>
          <div class="input_box">
            {% csrf_token %}
            <table>
              <tr>
                <td>
                  First Name:
                </td>
                <td>
                  <input type="text" name="first_name">
                </td>
              </tr>
              <tr>
                <td>
                  Last Name:
                </td>
                <td>
                  <input type="text" name="last_name">
                </td>
              </tr>
              <tr>
                <td>
                  Username:
                </td>
                <td>
                  <input type="text" name="username">
                </td>
              </tr>
              <tr>
                <td>
                  Email address:
                </td>
                <td>
                  <input type="text" name="email">
                </td>
              </tr>
              <tr>
                <td>
                  Password:
                </td>
                <td>
                  <input type="password" name="password">
                </td>
              </tr>
              <tr>
                <td>
                  Repeate password:
                </td>
                <td>
                  <input type="password" name="password2">
                </td>
              </tr>
              <tr>
                <td>
                </td>
                <td>
                  <input type="submit" value="Register">
                </td>
              </tr>
            </table>
          </div>
        </form>
      </div>
      <div class="input_box">
        <form action="{% url 'login:login' %}" method="POST">
          <h4>Please login below</h4>
          {% csrf_token %}
          <table>
            <tr>
              <td>
                Username:
              </td>
              <td>
                <input type="text" name="username">
              </td>
            </tr>
            <tr>
              <td>
                Password:
              </td>
              <td>
                <input type="password" name="password">
              </td>
            </tr>
            <tr>
              <td>
              </td>
              <td>
                <input type="submit" value="Login">
              </td>
            </tr>
          </table>
        </form>
      </div>
      <div>
        {% for user in all_users %}
        <p>
          {{ user.id }}
          {{ user.first_name }}
          {{ user.last_name }}
          {{ user.email }}
        </p>
        {% endfor %}
      </div>
      <a href="admin/">admin</a>
    </div>
  </body>
</html>
